{% load static i18n %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
        <title>onestaufond.fr</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/wr-easy.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/color.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    </head>
    <body class="bg-b wr">
        <header class="bg-bl2 wr mrgy-auto mrgy-auto-chd lg-wdt-per60 md-wdt-per80">
            <nav class="bg-bd6 cl-bl5 wr dib-chd">
                <a class="bg-bl1 cl-bl5 wr pad-px9" href="/">{% trans 'Home' %}</a>
            </nav>
            <div class="wr dib-chd vam-rcs txtc">
                <div class="wr md-wdt-per30">
                    <img class="wr mh-px250 rvs-sm-mh-px150" src="{% static "img/logo.png" %}">
                </div><!--
             --><div class="wr md-wdt-per70 rvs-md-txtc">
                    <section>
                        <h1>onestaufond.fr</h1>
                        <a class="cl-bl6" href="/status.html">Status des services</a>
                    </section>
                </div>
            </div>
        </header>
        <br/>
        {% block content %}
        {% endblock %}
        <script type="text/javascript">
            //var xhr = new XMLHttpRequest();
            //xhr.open("GET", "http://www.inrs.fr/rss/?feed=actualites", true);
            //xhr.setRequestHeader("Cache-Control", "no-cache");
            //xhr.setRequestHeader("Pragma", "no-cache");
            //xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
            //xhr.ontimeout = function() { alert('timeout'); }
            //xhr.onerror = function() { alert("Error code " + this.status + " received: " + this.statusText); }
            //xhr.onload = function() {
            //    if (this.status >= 200 && this.status <= 399) {
            //        if (xhr.responseText != null) {
            //            alert(this.responseXML);
            //        } else {
            //            alert("Failed to receive RSS file from the server - file not found.");
            //        }
            //    }
            //}
            //xhr.send(null);
        </script>
    </body>
</html>