{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
        <title>onestaufond.fr</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/wr-easy.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/color.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    </head>
    <body class="bg-b wr">
        {% block content %}
        {% endblock %}
    </body>
</html>
