@font-face { font-family: "orbitron"; src: url('../fonts/Orbitron-Regular.ttf'); }
* { font-family: 'orbitron', sans-serif; }

.logo { background-image: url('../img/logo.png'); background-repeat: no-repeat; }
a { text-decoration: none; }
.users_list { overflow: scroll; }